@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




body {
color: #800000 ;
background-color: darkred ;
margin: 0px;
margin-bottom: 100px;
font-family: "Roboto Mono";, monospacehttps://img.youtube.chttps://img.youtube.com/vi/0pAtvdAV2Z8/maxresdefault.jpgom/vi/0pAtvdAV2Z8/maxresdefault.jpg
}
header{
   border-bottom: solid 2px rgb(255, 166, 0);
   margin: 20px;
   font-size: 30px;
   color: #f60a0a;


}
section{
   padding-bottom: 80px;
   padding-top: 80px;
   background: #f60a0a;
   display: flex;
   justify-content: center;
}

h1{
    color: #f60a0a;
    font-size: 40px;
    
}

p{
   font: size 40px; ;
}